<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSFaceIDUsageDescription</key>
    <string>Need permission to use face id</string>
    <key>NSContactsUsageDescription</key>
    <string>This app requires contacts access to function properly.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MakPay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MakPay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app usage the Music libbrary for qr sdk</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app usage the calendar to make appointments and make schedules.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app usage camera to scan qrcodes</string>
	<key>NSContactsUsageDescription</key>
	<string>This app usage the contact to create new customer contact and use existing saved contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is required to find out where you are.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app utilizes merchants location to help prevent fraud from users using there credit or debit cards for purchases </string>
	<key>NSMotionUsageDescription</key>
	<string>This app usage motion library for preventing fraud</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app usage photo library to save qrcodes and read qrcode image from the library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app usage Speech Recognition to take commands from voice.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
